ion-content {
  .other-buttons{
    width: 100%;
    padding: 20px;
    text-align: center;
  }
}
.background-style{
  position: relative;
  .background{
    content: '';
    position: absolute;
    width: 100%;
    height: 30%;
    background-color: var(--ion-color-primary);
  }
}
fieldset{
  border: none;
  border-top: 1px solid #000;
  legend{
    padding: 0 10px;
  }
}

ion-item{
  --highlight-height:var(--ion-color-primary);
  --highlight-color-valid:var(--ion-color-primary);
}
ion-item[lines]{
  margin-top: 20px;
}

ion-item[mobileNumber]{
  margin-top: 60px;
}

// div[parentDiv]{
//   div{
//     margin: 0;
//     padding: 0;
//   }
//   max-height: 0px;
//   transition: .5s;
//   overflow: hidden;
// }

@media only screen and (min-width: 550px){
  ion-img {
    width: 50%;
    margin: 20px auto;
  }

  .slide-body{
    margin:0;
    padding: 0;
    width: 50%;
  }
}

@media only screen and (max-width: 550px){
  ion-img {
    width: 90%;
    margin: 20px auto;
  }

  .slide-body{
    margin:0;
    padding: 0;
    width: 80%;
  }
}